<launch>
  <rosparam file="$(find azd_ked_driver)/config/azd_ked_multi.yaml" command="load" ns="azd_ked_multi" />

  <arg name="ifname" default=""/>

  <group if="$(eval arg('ifname') != '')" ns="azd_ked_multi">
    <param name="ifname" value="$(arg ifname)"/>
  </group>

  <node pkg="azd_ked_driver" type="azd_ked_multi_node" name="azd_ked_multi" output="screen"/>
</launch>
